{% extends 'index.html' %} {% block title %}Bot Help{% endblock %}

{% block content %}
<body>
  <h1>Commands</h1>
  <div id="main">
    <div class="buttons1">
   
      <div class="wrapper1">
        <svg height="40" width="150" >
          <a href="/maths/"><rect id="btn" height="40" width="150" /></a>
          <div id="btn-text">
            <a href="/maths/">Mathematics</a>
          </div>
        </svg>
      </div>
      <div class="wrapper1">
        <svg height="40" width="150" >
          <a href="/science/"><rect id="btn" height="40" width="150" /></a>
          <div id="btn-text">
            <a href="/science/">Science</a>
          </div>
        </svg>
      </div>
      <div class="wrapper1">
        <svg height="40" width="150" >
          <a href="/util/"><rect id="btn" height="40" width="150" /></a>
          <div id="btn-text">
            <a href="/util/">Utility</a>
          </div>
        </svg>
      </div>
      <div class="wrapper1">
        <svg height="40" width="150" >
          <a href="/moderation/"><rect id="btn" height="40" width="150" /></a>
          <div id="btn-text">
            <a href="/moderation/">Moderation</a>
          </div>
        </svg>
      </div>
      <div class="wrapper1">
        <svg height="40" width="150" >
          <a href="/fun/"><rect id="btn" height="40" width="150" /></a>
          <div id="btn-text">
            <a href="/fun/">Fun</a>
          </div>
        </svg>
      </div>
      <div class="wrapper1">
        <svg height="40" width="150" >
          <a href="/emojis/"><rect id="btn" height="40" width="150" /></a>
          <div id="btn-text">
            <a href="/emojis/">Emojis</a>
          </div>
        </svg>
      </div>
   
      
</div>
</body>
{% endblock %}
    